<template>
  <div class="home">
    <h1>Привет мир</h1>
    <div v-if="posts.length" class="post-list">
      <div class="pagination">
        <ul class="pagination__list">
          <li
            v-for="item in countPages"
            :key="item"
            @click="changeCurrentPage(item)"
          >
            {{ item }}
          </li>
        </ul>
      </div>
      <OnePost v-for="post in posts" :key="post.id" :post="post" />
    </div>
    <div v-else>
      <figure>
        <img src="../assets/91.svg" alt="" />
      </figure>
    </div>
  </div>
</template>

<script>
import OnePost from "../components/OnePost";

export default {
  data() {
    return {
      countPosts: 8,
      currentPage: 1,
    };
  },
  name: "Home",
  components: {
    OnePost,
  },
  created() {
    this.$store.dispatch("fetchPosts");
  },
  computed: {
    posts() {
      let firstPost = (this.currentPage - 1) * this.countPosts;
      let lastPost = this.currentPage * this.countPosts;
      return this.$store.getters.getPosts.slice(firstPost, lastPost);
    },
    countPages() {
      return Math.ceil(this.$store.getters.getPosts.length / this.countPosts);
    },
  },
  methods: {
    changeCurrentPage(item) {
      this.currentPage = item;
      console.log(item);
    },
  },
  mounted() {
    // let arr = ["1", "2", "3", "4"];
    // console.log(arr.slice(1, 3));
    // console.log(this.$store.getters.getPosts);
  },
};
</script>

<style lang="scss">
.post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}
.pagination {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__list {
  display: flex;
  margin: 0 auto;

  & li {
    cursor: pointer;
    border: 1px solid grey;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    list-style: none;
    line-height: 20px;
  }
}
</style>
