<template>
  <div class="c-one-post" @click="openOnePost">
    <h1>{{ post.id }}</h1>
    <h2>{{ post.title }}</h2>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
  methods: {
    openOnePost() {
      this.$router.push("id");
    },
  },
};
</script>

<style lang='scss'>
.c-one-post {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h2 {
    font-size: 16px;
    color: black;
    margin-top: -10px;
  }
}
</style>